@font-face {
    font-family: 'Jennifer Lynne';
    src: url('../fonts/jennifer-lynne.ttf') format('truetype');
}

@font-face {
    font-family: 'Nothing You Could Do';
    src: url('../fonts/nothing-you-could-do.ttf') format('truetype');
}

img {
  max-height: 500px;
}

h1, .links {
  text-align: center;
font-family: 'Playfair Display', serif;
    
}

h1 {
  font-size: 42px;
  text-transform:uppercase;
}

h2{
    
  font-family: 'Jennifer Lynne';
  
  font-size: 3em;
}

.links {
  margin-bottom: 2em;
}

.links a, .links a:visited {
  color: #b05574;
  font-family: 'Arial;
  padding: 0 1em;

}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.gallery p {
    display: inline-block;
}

.gallery img, .gallery p {
  padding-left: 1em;
}

.gallery img:first-child, .gallery p:first-child {
  padding-left: 0;
}

.about {
  margin-top: 1em;
}

.about img {
  width: 100%;
}


