@font-face {
    font-family: 'Jennifer Lynne';
    src: url('../fonts/jennifer-lynne.ttf') format('truetype');
}

@font-face {
    font-family: 'Nothing You Could Do';
    src: url('../fonts/nothing-you-could-do.ttf') format('truetype');
}

img {
  max-height: 500px;
}

h1, .links {
  text-align: center;
  font-family: 'Jennifer Lynne';
}

h1 {
  font-size:2em;
}

.links {
  margin-bottom: 2em;
}

.links a, .links a:visited {
  color: #000000;
  font-family: 'Nothing You Could Do';
}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.gallery img {
  padding-left: 1em;
}

.gallery img:first-child {
  padding-left: 0;
}
