body {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
/* unvisited link */
a:link {
    color: #222222;
}

/* visited link */
a:visited {
    color: #222222;
}

/* mouse over link */
a:hover {
    color: #222222;
}

/* selected link */
a:active {
    color: #222222;
}

@font-face {
    font-family: 'Daydreamer';
    src: url('../fonts/daydreamer.ttf') format('truetype');
}

@font-face {
    font-family: 'Nothing You Could Do';
    src: url('../fonts/nothing-you-could-do.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

#links {
  font-family: "PT Sans";
  font-size:1em;
  text-align:left;
  text-transform:uppercase;
  padding-top:20px;
}

h1, .links {
  font-family: 'Raleway', sans-serif;    
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: left;
}

h2{
  font-family: 'Daydreamer';
  font-size: 3em;
}

h3{
  font-family: 'PT Sans';
  font-size: 2em;
  text-align:right;
  text-transform:uppercase;
}

#topbar-right h3 {
  margin-top:0;
}

#topbar {
  margin-top:30px;
}

.links {
  background-color: #9B99A9;
  border-bottom: 1px solid #f0f0f0;
border-top: 1px solid #f0f0f0;
font: normal normal 10px Montserrat, Georgia, Century Gothic, Trebuchet, Arial, Verdana, Sans-serif;
z-index: 100;
overflow: hidden;
width: 100%;
text-align:center !important;
margin: 0px 0px 0px;
padding: 0px 0px;
text-transform: uppercase;
letter-spacing:2px;
padding-top:13px;
padding-bottom:13px;
margin: auto;
margin-bottom:50px;
margin-top:-20px;
}

.links a, .links a:visited {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
  text-transform:uppercase;
  font-weight:400;
  letter-spacing: 3px;
  text-align: center;
  padding-right: 1em;
}

.links a:hover {
    text-decoration: none;
}

.category p {
    text-align: center;
    margin-bottom: 1em;
}

.category img, .main img {
  max-width: 100%;
}

.main {
  text-align:center;
  margin-bottom:1em;
}

.main img {
 margin-bottom:1em;
}

.main a, .main a:visited {
  color:#222;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.main a:hover {
    text-decoration: none;
}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.gallery p {
    display: inline-block;
}

.gallery img, .gallery p {
  padding-left: 1em;
}

.gallery img:first-child, .gallery p:first-child {
  padding-left: 0;
}

.about {
  margin-top: 1em;
}

.about img {
  width: 100%;
}

button.slick-prev, button.slick-next {
  background: none;
  border: none;
  font-size: 5em;
}

#slick-nav-anchor {
  width: 5em;
}
