<div class="col-xs-12">
  <img src="http://portfolio.laurenpepperman.com/img/header.png" style="width: 60% !important">
  <div class="links"> 
    <a href="http://www.laurenpepperman.com">Portfolio</a>
    <a href="/about.html">About</a> 
    <a href="http://blog.laurenpepperman.com">Blog</a>
    |&nbsp;&nbsp;&nbsp;
    <a href="http://laurenpepperman.com/travel">Travel</a>
    <a href="http://laurenpepperman.com/animals">Animals</a>
    <a href="http://laurenpepperman.com/umass">UMass</a>
    <a href="http://laurenpepperman.com/orgs">Organizations</a>
    <a href="http://laurenpepperman.com/portraits">Portraits</a>
    <a href="http://laurenpepperman.com/misc">Miscellaneous</a>

  </div> 
</div>

