---
layout: default
---

<div class="row">
    <div class="slick-carousel col-md-offset-3 col-md-6">
{% for post in site.categories[page.category] %}
      <div class="category">
          {{ post.content }}
      </div>
{% endfor %}
    </div>
</div>
<div class="row">
    <div class="slick-carousel-nav col-md-offse-3 col-md-6">
      <div id="slick-nav-anchor"></div>
    </div>
</div>

<script>
    var arr = document.getElementsByTagName('img');
    for (var i = 0; i < arr.length; i++) { 
        var img = arr[i];
        var oldParent = img.parentNode;
        img.parentNode.removeChild(img);
        var a = document.createElement('a');
        a.href = img.src;
        a.setAttribute("data-lightbox", img.src);
        a.setAttribute("data-title", img.alt);
        a.appendChild(img);
        oldParent.appendChild(a);
    }
</script>

<script>
  $(document).ready(function() {
    $('.slick-carousel').slick({
      dots: false,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      adaptiveHeight: true,
      appendArrows: $("#slick-nav-anchor"),
      prevArrow: "<button type=\"button\" class=\"slick-prev\">&lt;</button>",
      nextArrow: "<button type=\"button\" class=\"slick-next\">&gt;</button>",
    });
  });
</script>
