---
layout: default
---

{% for post in site.categories[page.category] %}
  <div class="row category">
    <div class="col-md-offset-3 col-md-6">
      {{ post.content }}
    </div>
  </div>
{% endfor %}
<script>
    var arr = document.getElementsByTagName('img');
    for (var i = 0; i < arr.length; i++) { 
        var img = arr[i];
        var oldParent = img.parentNode;
        img.parentNode.removeChild(img);
        var a = document.createElement('a');
        a.href = img.src;
        a.setAttribute("data-lightbox", img.src);
        a.setAttribute("data-title", img.alt);
        a.appendChild(img);
        oldParent.appendChild(a);
    }
</script>
