<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <section class="container-fluid">
      <div class="col-xs-offset-3 col-xs-6">
        <img src="https://41.media.tumblr.com/46bb0c71cd392ff2f4012d1e22f348a8/tumblr_njz7307Xqd1t0rg3mo1_1280.png">
        <div class="links">
          <a href="#"><img src="https://41.media.tumblr.com/073f20913a26518b517d62e1d8da4396/tumblr_njz77xYxE31t0rg3mo1_1280.png"></a> / 
          <a href="#"><img src="https://40.media.tumblr.com/a1a00d7b3a9597bd83a11a01ab0d80be/tumblr_njz7b7mNfR1t0rg3mo1_1280.png"></a> / 
          <a href="#"><img src="https://36.media.tumblr.com/5c9cd8b473b07ae18914a9baa2b47d99/tumblr_njz7biD3oO1t0rg3mo1_1280.png"></a>
        </div>
      </div>
      <div class="col-xs-12 gallery">
        {{ content }}
      </div>
    </section>
  </body>
</html>
